<h1 class="text-center">It's Burger Time!</h1>

<div class="jumbotron">
    <div class="row">
        <div class="col-md-6">
            <div class="text-center">Click The Burgers to Devour</div>
            <div class="container">
                <ul>
                {{#each burgers}}
                    {{#unless this.devoured}}
                        <li class="list-group">
                            <button class='burgerAvailable list-group-item list-group-item-success text-center' data-id={{this.id}} data-value={{this.burger_name}}> {{this.burger_name}}</button>
                        </li>
                    {{/unless}}
                {{/each}}
                </ul>
            </div>
        </div>
        <div class="col-md-6">
            <div class="text-center">Devoured Burgers</div>
            <div class="container">
                <ul class="list-group">
                {{#each burgers}}
                    {{#if this.devoured}}
                        <li class="devoured-burgers list-group-item list-group-item-danger text-center">
                            {{this.burger_name}}
                        </li>
                    {{/if}}
                {{/each}}
                </ul>
            </div>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-md-12">
            <form class="text-center">
                <input type="text" id="burg" name="name" placeholder="Burger Name">
                <button type="submit" class="addBurgerButton btn btn-success">Add The Burger</button>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript">

$(document).on('click', '.burgerAvailable', function(){
    let id = $(this).data('id');
    $.ajax('/api/burger/'+id, {
        type: "PUT",
        data: {
            name: $(this).data('value'),
            devoured: true
            }
    }).then(function(){
        console.log("burger devoured");
        location.reload();
    })
});

$('.addBurgerButton').on('click', function(event){
    event.preventDefault();
    if (!$('#burg').val().trim()){
        return false;
    }
    let newBurger = {
        name: $('#burg').val().trim(),
        devoured: false
    }
    $.ajax('/api/burgers', {
        type: "POST",
        data: newBurger
    }).then(function(){
        console.log('burger created');
        location.reload();
    })
});

</script>